@page "/"

<h1 id="toggleTitle" class="title inacitve">Dont Press the button</h1>
<p id="toggleID">Im warning you</p>

<button id="toggleButton" class="button inactive">Don't do it</button>

<ul id="item-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>

<button id="add-item-button" class="pretty-button">Add New Item</button>