@page "/"

<h1 id="toggleTitle" class="title inacitve">Dont Press the button</h1>
<p id="toggleID">Im warning you</p>

<button id="toggleButton" class="button inactive">Don't do it</button>

<div>
<br />
    <ul id="addList">
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
    </ul>
</div>

<div>
<br />
    <button id ="toggleList" class="pretty-button">Add item</button>
</div>
